<mat-grid-list cols="4" rowHeight="52px">

    <mat-grid-tile [colspan]="2" [rowspan]="5">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Add Page To User
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            <form [formGroup]="parentForm" novalidate (ngSubmit)="onSubmit($event)" autocomplete="off">

            <mat-form-field appearance="fill">
                <mat-label>Input</mat-label>
                <input matInput formControlName="title">
            </mat-form-field>
            <!-- <mat-form-field appearance="fill">
                <mat-label>Select</mat-label>
                <mat-select>
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field> -->
                <button mat-button color="warn" id="deleteBtn" (click)="openBottomSheet()"><span class="icon"><mat-icon [inline]="true">Open</mat-icon></span></button>
            </form>
        </mat-card-content>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>            